body {
	background-color: #232323;
}

.square {
	background: blue;	
	margin: 1.66%;
	width: 30%;
	padding-bottom: 30%;
	float: left;
}

h1 {
	color: white;
	text-transform: uppercase;
}

span {
	color: white;
}